<h2>Synchronize</h2>

<div class="wrap">
    <h2>Synchronize Content</h2>
    <form method="post" action="options.php">
        <?php settings_fields('tcn_admin_synchronize'); ?>
        <?php do_settings_sections('tcn_admin_synchronize'); ?>
        <?php $options = get_option('tcn_admin_synchronize'); ?>
        <?php settings_errors(); ?>
        <table class="form-table">
            <tr>
                <th scope="row"><?php _e('Synchronize') ?></th>
                <td>
                    <label for="post">Posts</label>
                    <?php $checked = ($options['synchronize'] === 'post') ? 'checked' : '' ?>
                    <input type="radio" name="tcn_admin_synchronize[synchronize]" value="post" <?php echo $checked ?>/>
                    <?php $checked = ($options['synchronize'] === 'term') ? 'checked' : '' ?>
                    <label for="post">Terms</label>
                    <input type="radio" name="tcn_admin_synchronize[synchronize]" value="term" <?php echo $checked; ?> />
                    <?php $checked = ($options['synchronize'] === 'option') ? 'checked' : '' ?>
                    <label for="post">Options</label>
                    <input type="radio" name="tcn_admin_synchronize[synchronize]" value="options"<?php echo $checked; ?>/>
                </td>
            </tr>
        </table>
        <p class="submit">
            <input type="submit" class="button-primary" value="<?php _e('Synchronize') ?>"/>
        </p>
    </form>
</div>




