<?php
$host = getenv('HOST')
?>
<div class="wrap">
    <h2>Tortuga Content Notification Options</h2>
    <form method="post" action="options.php">
        <?php settings_fields('tcn_admin_options'); ?>
        <?php do_settings_sections('tcn_admin_options'); ?>
        <?php $options = get_option('tcn_admin_options'); ?>
        <table class="form-table">
            <tr>
                <th scope="row">Authentication Token</th>
                <td>
                    <textarea cols='40' rows='5' name='tcn_admin_options[tcn_textarea_field_authentication]'>
		                <?php echo esc_textarea($options['tcn_textarea_field_authentication']); ?>
 	                </textarea>
                </td>
            </tr>
            <tr>
                <th scope="row"><?php _e('Authentication Endpoint') ?></th>
                <td>
                    <input type="text" name="tcn_admin_options[authentication_host]" value="<?php echo esc_html($host); ?>" readonly/> /
                    <input type="text" name="tcn_admin_options[authentication_endpoint]" value="<?php echo esc_html($options['authentication_endpoint']); ?>"/> :
                    <input type="text" maxlength="5" size="5" name="tcn_admin_options[authentication_port]" value="<?php echo esc_html($options['authentication_port']); ?>"/>
                </td>
            </tr>
            <tr>
                <th scope="row"><?php _e('CA-Consumer Endpoint') ?></th>
                <td>
                    <input type="text" name="tcn_admin_options[ca_consumer_host]" value="<?php echo esc_html($host); ?>" readonly/> /
                    <input type="text" name="tcn_admin_options[ca_consumer_endpoint]" value="<?php echo esc_html($options['ca_consumer_endpoint']); ?>"/> :
                    <input type="text" maxlength="5" size="5" name="tcn_admin_options[ca_consumer_port]" value="<?php echo esc_html($options['ca_consumer_port']); ?>"/>
                </td>
            </tr>
        </table>
        <p class="submit">
            <input type="submit" class="button-primary" value="<?php _e('Save Changes') ?>"/>
        </p>
    </form>
</div>




